<h1>Edit Post</h1></br>
<%= form_with scope: :article, url: article_path(@article), method: :patch, local: true do |form| %>
  <% if @article.errors.any? %>
    <% @article.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end  %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field(:title, {:class => 'form-control'}) %>
    </p>
   
    <p>
      <%= form.label :body %> <br>
      <%= form.text_area(:body, {:class => 'form-control'}) %>
    </p>
   
    <p>
      <%= form.submit({:class => 'btn btn-primary'}) %>
    </p>
  <% end %>